/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.card {
    width: 30%;
    padding: 20px;
    float: left;
    margin: 50px 50px 50px 0;
    background-color: lightgrey;
}

.card-image {
    padding-bottom: 20px;
}

.menu {
    margin-top: 80px;
    padding: 30px;
    background-color: white;
}